.about {
    display: flex;
    align-items: center;
    height: 100vh;
}

.about-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}

.about-right {
    flex: 1;
    padding: 20px;
    line-height: 28px;
}

.about-card.bg {
    position: absolute;
    top: 180px;
    left: 10px;
    background-color: rgb(25, 25, 25);
}

.about-card {
    width: 80%;
    height: 40vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.about-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-title {
    font-weight: 400;
    margin-top: 20px;
}

.about-sub {
    margin: 20px 0px;
}

.about-desc {
    font-weight: 300;
    padding: 20px 0px;
}


@media screen and (max-width: 900px) {
    .about {
      flex-direction: column;
      text-align: center;
      margin-top: 50px;
      height: 100%;
    }

    .about-left {
      width: 100%;
    }

    .about-card {
      height: 30vh;
    }

    .about-card.bg {
      display: none;
    }
}